@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  div {
    cursor: default;
    -webkit-touch-callout: none;
    user-select: none;
  }
}
@layer utilities {
  /*  */
  /* 20px */
  .text-20px-capsized {
    font-size: 20px;
    line-height: 38px;
  }
  .text-20px-capsized::before {
    content: "";
    margin-bottom: -0.62em;
    display: table;
  }
  .text-20px-capsized::after {
    content: "";
    margin-top: -0.58em;
    display: table;
  }
  /* END 20px */
  /* 24px */
  .text-24px-capsized {
    font-size: 24px;
    line-height: 41.8px;
  }
  .text-24px-capsized::before {
    content: "";
    margin-bottom: -0.52em;
    display: table;
  }
  .text-24px-capsized::after {
    content: "";
    margin-top: -0.48em;
    display: table;
  }
  /* END 24px */
  /* 28px */
  .text-28px-capsized {
    font-size: 28px;
    line-height: 43.6px;
  }
  .text-28px-capsized::before {
    content: "";
    margin-bottom: -0.4486em;
    display: table;
  }
  .text-28px-capsized::after {
    content: "";
    margin-top: -0.4086em;
    display: table;
  }
  /* END 28px */
  /* 32px */
  .text-32px-capsized {
    font-size: 32px;
    line-height: 46.4px;
  }
  .text-32px-capsized::before {
    content: "";
    margin-bottom: -0.395em;
    display: table;
  }
  .text-32px-capsized::after {
    content: "";
    margin-top: -0.355em;
    display: table;
  }
  /* END 32px */
  /* 36px */
  .text-36px-capsized {
    font-size: 36px;
    line-height: 44.2px;
  }
  .text-36px-capsized::before {
    content: "";
    margin-bottom: -0.3533em;
    display: table;
  }
  .text-36px-capsized::after {
    content: "";
    margin-top: -0.3133em;
    display: table;
  }
  /* END 36px */
  /* 40px */
  .text-40px-capsized {
    font-size: 40px;
    line-height: 52px;
  }
  .text-40px-capsized::before {
    content: "";
    margin-bottom: -0.32em;
    display: table;
  }
  .text-40px-capsized::after {
    content: "";
    margin-top: -0.28em;
    display: table;
  }
  /* END 40px */
  /* 48px */
  .text-48px-capsized {
    font-size: 48px;
    line-height: 60px;
  }
  .text-48px-capsized::before {
    content: "";
    margin-bottom: -0.27em;
    display: table;
  }
  .text-48px-capsized::after {
    content: "";
    margin-top: -0.23em;
    display: table;
  }
  /* END 48px */
  /* 52px */
  .text-52px-capsized {
    font-size: 52px;
    line-height: 60.4px;
  }
  .text-52px-capsized::before {
    content: "";
    margin-bottom: -0.2508em;
    display: table;
  }
  .text-52px-capsized::after {
    content: "";
    margin-top: -0.2108em;
    display: table;
  }
  /* END 52px */
  /* 64px */
  .text-64px-capsized {
    font-size: 64px;
    line-height: 68.8px;
  }
  .text-64px-capsized::before {
    content: "";
    margin-bottom: -0.2075em;
    display: table;
  }
  .text-64px-capsized::after {
    content: "";
    margin-top: -0.1675em;
    display: table;
  }
  /* END 64px */
  /* sm */
  /* 80px */
  .text-80px-capsized {
    font-size: 80px;
    line-height: 80px;
  }
  .text-80px-capsized::before {
    content: "";
    margin-bottom: -0.17em;
    display: table;
  }
  .text-80px-capsized::after {
    content: "";
    margin-top: -0.13em;
    display: table;
  }
  /* END 80px */
  /* md */
  /* 96px */
  .text-96px-capsized {
    font-size: 96px;
    line-height: 98.2px;
  }
  .text-96px-capsized::before {
    content: "";
    margin-bottom: -0.145em;
    display: table;
  }
  .text-96px-capsized::after {
    content: "";
    margin-top: -0.105em;
    display: table;
  }
  /* END 96px */
  /* xl */
  /* 120px */
  .text-120px-capsized {
    font-size: 120px;
    line-height: 108px;
  }
  .text-120px-capsized::before {
    content: "";
    margin-bottom: -0.12em;
    display: table;
  }
  .text-120px-capsized::after {
    content: "";
    margin-top: -0.08em;
    display: table;
  }
  /* END 120px */
  /* 2xl */
  /* 160px */
  .text-160px-capsized {
    font-size: 160px;
    line-height: 136px;
  }
  .text-160px-capsized::before {
    content: "";
    margin-bottom: -0.095em;
    display: table;
  }
  .text-160px-capsized::after {
    content: "";
    margin-top: -0.055em;
    display: table;
  }
  /* END 160px */
  /*  */
  .mask-hero {
    mask-image: url("../public/img/maksCircle.svg");
    mask-repeat: no-repeat;
    mask-size: 60px;
    @apply bg-purple-light;
  }
  [data-text] {
    letter-spacing: -2px;
    position: relative;
    display: flex;
    width: 100%;
    color: rgba(255, 255, 255, 0.2);
    background: linear-gradient(to right, #ffffff, #ffffff) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 2.4%;
  }
  @media (min-width: 640px) {
    [data-text] {
      background-size: 1.8%;
    }
  }
  @media (min-width: 768px) {
    [data-text] {
      background-size: 8%;
    }
  }
  @media (min-width: 1280px) {
    [data-text] {
      background-size: 16.4%;
    }
  }
  [data-text]:before {
    content: "";
    height: 100%;
    background: transparent;
    padding-left: 16px;
  }
  @media (min-width: 768px) {
    [data-text]:before {
      padding-left: 8.333333%;
    }
  }
  @media (min-width: 1280px) {
    [data-text]:before {
      padding-left: 16.666666%;
    }
  }
  [data-text] span {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
    transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.4s;
    padding-left: 16px;
  }
  @media (min-width: 768px) {
    [data-text] span {
      padding-left: 8.333333%;
    }
  }
  @media (min-width: 1280px) {
    [data-text] span {
      padding-left: 16.666666%;
    }
  }
  [data-text]:hover span {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  [data-text] .underline {
    width: 100%;
    height: 1px;
    background-color: rgba(140, 140, 140, 0.25);
    position: absolute;
    left: 0;
    top: 100%;
  }
  [data-text]:first-of-type .upperline {
    width: 100%;
    height: 1px;
    background-color: rgba(140, 140, 140, 0.25);
    position: absolute;
    left: 0;
    top: 0;
  }
  .quote::before {
    content: "";
    width: 50px;
    height: 36.5px;
    position: absolute;
    left: 0px;
    top: -60px;
    background-image: url("../public/img/quote.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (min-width: 768px) {
    .quote::before {
      width: 75px;
      height: 54.75px;
      left: -52px;
      top: -80px;
    }
  }
  @media (min-width: 1280px) {
    .quote::before {
      width: 100px;
      height: 73px;
      left: -100px;
      top: -100px;
    }
  }
  .quoteDark::before {
    content: "";
    width: 50px;
    height: 36.5px;
    position: absolute;
    left: 0px;
    top: -60px;
    background-image: url("../public/img/quoteDark.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (min-width: 768px) {
    .quoteDark::before {
      width: 75px;
      height: 54.75px;
      left: -52px;
      top: -80px;
    }
  }
  @media (min-width: 1280px) {
    .quoteDark::before {
      width: 100px;
      height: 73px;
      left: -100px;
      top: -100px;
    }
  }
  .word-wrap {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  .marker {
    opacity: 0;
    width: 24px;
    height: 24px;
    position: absolute;
    left: -28px;
    transition: all 1s;
    background-image: url("../public/img/starSoft.svg");
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
  }
  @media (min-width: 768px) {
    .marker {
      width: 32px;
      height: 32px;
      left: -40px;
    }
  }
  @media (min-width: 1280px) {
    .marker {
      width: 40px;
      height: 40px;
      left: -48px;
    }
  }
  .avatar {
    opacity: 0.1;
    transition: all 1s;
  }
  .avatar.active {
    opacity: 1;
  }
  .avatar.active ~ .marker {
    opacity: 1;
  }
  .avatar:nth-of-type(1).active ~ .marker {
    top: 21px;
  }
  @media (min-width: 768px) {
    .avatar:nth-of-type(1).active ~ .marker {
      top: 32px;
    }
  }
  @media (min-width: 1280px) {
    .avatar:nth-of-type(1).active ~ .marker {
      top: 40px;
    }
  }
  .avatar:nth-of-type(2).active ~ .marker {
    top: calc(33.333% + 24px + 3px);
  }
  @media (min-width: 768px) {
    .avatar:nth-of-type(2).active ~ .marker {
      top: calc(33.333% + 32px + 7px);
    }
  }
  @media (min-width: 1280px) {
    .avatar:nth-of-type(2).active ~ .marker {
      top: calc(33.333% + 40px + 7px);
    }
  }
  .avatar:nth-of-type(3).active ~ .marker {
    top: calc(66.666% + 24px + 9px);
  }
  @media (min-width: 768px) {
    .avatar:nth-of-type(3).active ~ .marker {
      top: calc(66.666% + 32px + 14px);
    }
  }
  @media (min-width: 1280px) {
    .avatar:nth-of-type(3).active ~ .marker {
      top: calc(66.666% + 40px + 14px);
    }
  }
  [data-hover-element] {
    letter-spacing: -2px;
    position: relative;
    display: flex;
    width: 100%;
    color: #ffffff;
  }
  [data-hover-element] span {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
    transform-origin: center;
    clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
    transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.4s;
  }
  [data-hover-element]:hover span {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  [data-hover-element].starMarker {
    padding-left: 32px;
  }
  @media (min-width: 768px) {
    [data-hover-element].starMarker {
      padding-left: 35.999984px;
    }
  }
  @media (min-width: 1280px) {
    [data-hover-element].starMarker {
      padding-left: 39.999992px;
    }
  }
  [data-hover-element].starMarker::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../public/img/starSoft.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (min-width: 768px) {
    [data-hover-element].starMarker::before {
      width: 27.999984px;
      height: 27.999984px;
    }
  }
  @media (min-width: 1280px) {
    [data-hover-element].starMarker::before {
      width: 31.999992px;
      height: 31.999992px;
    }
  }
}