@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /*  */
  /* 32px */
  .text-32px-capsized {
    font-size: 32px;
    line-height: 46.4px;
  }

  .text-32px-capsized::before {
    content: "";
    margin-bottom: -0.395em;
    display: table;
  }

  .text-32px-capsized::after {
    content: "";
    margin-top: -0.355em;
    display: table;
  }
  /* END 32px */

  /* 160px */
  .text-160px-capsized {
    font-size: 160px;
    line-height: 136px;
  }

  .text-160px-capsized::before {
    content: "";
    margin-bottom: -0.095em;
    display: table;
  }

  .text-160px-capsized::after {
    content: "";
    margin-top: -0.055em;
    display: table;
  }
  /* END 160px */
  /*  */
}
